{
    "mongodb": {
        "uri": "mongodb://127.0.0.1:27017",
        "dbname": "vtapi"
    },
    "youtube": {
        "api_keys": [],
        "rotation_rate": 60
    },
    "twitch": {
        "client_id": null,
        "client_secret": null
    },
    "workers": {
        "youtube": true,
        "bilibili": false,
        "twitch": false,
        "twitcasting": false,
        "mildom": false
    },
    "intervals": {
        "bilibili": {
            "channels": "*/60 */2 * * *",
            "upcoming": "*/4 * * * *",
            "live": "*/2 * * * *"
        },
        "youtube": {
            "channels": "*/60 */2 * * *",
            "feeds": "*/2 * * * *",
            "live": "*/1 * * * *",
            "missing_check": "*/5 * * * *"
        },
        "twitcasting": {
            "channels": "*/60 */2 * * *",
            "live": "*/1 * * * *"
        },
        "twitch": {
            "channels": "*/60 */2 * * *",
            "feeds": "*/15 * * * *",
            "live": "*/1 * * * *"
        },
        "mildom": {
            "channels": "*/60 */2 * * *",
            "live": "*/1 * * * *"
        }
    },
    "filters": {
        "exclude": {
            "channel_ids": [],
            "groups": []
        },
        "include": {
            "channel_ids": [],
            "groups": []
        }
    }
}